.header-container {
    background-color: rgba(0,0,0,.5);
    padding: 16px 32px;
    gap: 8px;
    height: 64px;
    align-items: center;
    z-index: 1;
    .action {
        align-self: center;
        gap: 8px;
        .btn-action {
            display: inline-flex;
            align-items: center;
            height: 32px;
            width: 32px;
            border: 1px solid $bg-base;
            border-radius: 50%;
            background-color: $bg-base;
            color: $clr1;
            &:disabled {
                cursor: not-allowed;
            }
            i{
                display: flex;
            }
        }
    }

    .content-container{
        display: flex;
        flex-grow: 1;
        height: 100%;
        overflow:visible;
        font-size: 1.5rem;
        font-weight: 700;
        align-items: center;
        gap: 8px;
        .search-box{
            display: flex;
            padding-inline-start:10px;
            height: 100%;
            width: 100%;
            border-radius: 25px;
            border: 0;
            background-color: rgb(36, 36, 36);
            align-items: center;
            input{
                border-radius: 25px;
                border: 0;
                background-color: rgb(36, 36, 36);
                flex-grow: 1;
                padding-inline-start:5px;
                font-size:x-small;
                color: $clr1;
            }
            input:focus-visible{
                outline: none;
            }
            svg{
                margin-block-start: 5px;
                height: 15px;
                width: 15px;
                color:rgba(255, 255, 255, 0.698)
            }
            
            &:hover{
                box-shadow: 0 0 0 1px hsla(0,0%,100%,.2);
                svg{
                    color:rgba(255, 255, 255)

                }
            }
            
            
        }
        .focus{
            outline: 2px $clr1 solid;
            svg{
                color:rgba(255, 255, 255)
    
            }
        }
        

        .btn-play{
            width: 45px;
            height: 45px;
            border: 0;
            border-radius: 500px;
            background-color: #1fdf64;

            svg{
                margin-top: 3px;
                width: 20px;
                height: 20px;
            }
            
        }
    }

    .login-container{
        &> *{
            background-color: transparent;
            border: 0px;
            transition-duration: 33ms;
            font-weight: 700;
            font-size: 1rem;
            
        }
        
        .btn-login{
            font-family: Circular;
            color: $bg-base;
            transform: translate3d(0px, 0px, 0px);
            padding: 0px;
            min-inline-size: 0px;
            
            span{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 500px;
                background-color: $clr1;
                font-size: inherit;
                padding: 8px 32px;
                min-block-size: 48px;
            }
            
            &:hover span{
                transform: scale(1.04);
                background-color: #f6f6f6;
            }
            
        }

        .btn-signup{
            color: #a7a7a7;
            padding: 8px 32px; 
            padding-block: 8px;
            
            &:hover{
                color: $clr1;
            }
        }
    }

    .user-container{
        height: 100%;
        position: relative;

        img{
            height: 100%;
            object-fit: cover;
        }
    }
}