.home-container {
    background-color: $bg-base;
    padding: 0 32px;

    .home-list{
        display: flex;
        flex-direction: row;
        gap: 24px;

    }

    .home-preview{
        padding: 16px;
    }
}