.login{
    background-color: $bg-base;
    color: $clr1;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .header{
        padding: 32px 0px 32px 51px;
        background-color: $clr3;
        .logo{
            display: flex;
            align-items: center;
            font: 14px Circular-light bold;
            gap: 3px;

            svg{
                height: 30px;
                width: 30px;
            }
        }
    }

    .login-container{
        flex: 3 1 0%;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        padding: 32px;
        background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);

    }
}