.mobile-navbar {
    display: none;
    height: 3rem;
    width: 100vw;

    .btn-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33.3%;
        height: 3rem;
    }


    @include for-mobile-layout {
        display: flex;
    }
}