.search-container {
    margin-top: 112px;
    padding-inline: 32px;
    h3 {
        font-size: 24px;
        padding-block: 16px;
    }
    .categories-container {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        grid-template-rows: 1fr;
        .category-card {
            aspect-ratio: 1/1;
            border-radius: 8px;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            p {
                font-size: 24px;
                padding: 16px;
                margin: 0;
                // display: inline;
            }
            img {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 100px;
                height: 100px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
                transform: rotate(25deg) translate(18%, -2%);
            }
        }
        // grid-template-rows: repeat(auto-fit, minmax(160px, 250px));
    }
}