.side-nav-container {
    background-color: #000;
    color: rgb(179, 179, 179);
    .logo {
        color: #fff;
    }
    .nav-categ {
        height: 40px;
        display: flex;
        align-items: center;
        gap: 16px;
        padding-inline: 16px;
    }
    .active {
        color: #fff;
    }
}