.form-container {
    display: flex;
    flex-direction: column;

    .form-txt {
        margin-block: 0px;
        font-size: 1.125rem;
        padding-block-end: 20px;
        font-weight: 700;
        text-align: center;
    }
    
    .signup-form {
        display: flex;
        flex-direction: column;
        
        & label {
            display: flex;
            flex-direction: column;
            padding-block-end: 24px;
        }

        input {
            font-size: 1rem;
            font-weight: 400;
            // padding: ;
        }
        
        .signup-btn {
            width: 150px;
            font-size: 1rem;
            font-weight: 700;
            border: 0px;
            border-radius: 500px;
            padding: 0px;
            height: 48px;
            margin-block-start: 16px;
            background-color: rgb(30, 215, 96);
        
            &:hover{
                scale: 1.05;
                // font-weight: 800;
            }
        }
    }
}