.track-modal {
    position: absolute;
    right: 30px;
    top: -70px;
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 40, 40);
    height: auto;
    width: 220px;
    padding-left: 0 !important;
    z-index: 3;
    border-radius: 4px;
    
    & button {
        border-radius: 4px;
        border: none;
        background-color: rgb(40, 40, 40);
        color: $clr1;
        height: 44px;
        width: 100%;
        position: relative;
        z-index: 3;

        &:hover{
            background-color: hsla(0,0%,100%,.1);
        }

        span{
            position: absolute;
            left: 5px;
            top: 40%;
        }
    }

    .modal-list {
        direction: rtl;
        max-height: 132px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        background-color: rgb(40, 40, 40);
        width: 250px;
        overflow-y: scroll;
        // top: -88px;
        bottom: 0;
        left: -250px;
        position: absolute;
        display: none;
        z-index: 2;

        &::-webkit-scrollbar{
            display: none;
        }

        
        .playlist{
            direction: ltr;
            background-color: rgb(40, 40, 40);
            border-radius: 4px;
            height: 44px;
            word-wrap:break-word;
            width: 100%;
            text-align: start;
            padding:12px;
        }
        
        .playlist:hover{
            background-color: hsla(0,0%,100%,.1);
        }
        
        &:hover{
            display: block;
        }

        .create {
            color: #1fdf64;
        }
    }

    @include for-mobile-layout {
        position: fixed;
        bottom: 0;
        top: 75vh;
        z-index: 2;
        right: 0;
        left: 0;
        width: 100vw;
        & button {
            height: 80px;
            span{
                display: none;
            }
        }

        .modal-list {
            position: fixed;
            // border: 1px solid white;
            top: 60vh;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100vw;
            max-height:200px;
            height: 100%;
            display: flex;
            justify-content: end;

            .playlist{
                font-size:large;
                text-align: center;
            }
        }
    }
}

.add-btn:hover .modal-list{
    display: flex;
}
.close .modal-list{
    display: none !important;
}
