.main-layout {
    background-color: pink;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: 64px 1fr 90px;
    grid-template-areas: 'side main' 'side main' 'player player';
    overflow: hidden;
    .header-container {
        position: sticky;
        top: 0;
    }
    .side-nav-container {
        grid-area: side;
    }
    .content-container {
        grid-area: main;
        overflow-y: scroll;
    }
    .player-container {
        grid-area: player;
    }
}