.main-layout {
    background-color: pink;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: 64px 1fr 90px;
    grid-template-areas: 'side header' 'side main' 'player player';
    .header-container {
        grid-area: header;
    }
    .side-nav-container {
        grid-area: side;
    }
    // .home-container {
    //     grid-area: main;
    // }
    .player-container {
        grid-area: player;
    }
}